@model LoginViewModel

@section Styles
{
    <link rel="stylesheet" href="~/stylesheets/Account.css"/>
    <link rel="stylesheet" href="~/stylesheets/Login.css"/>
}

<div id="body" class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div id="form-wrapper" class="container-fluid">
        <div class="text-center">
            <h1 class="fw-bold mb-4" style="font-size: 35px">Login</h1>
            <h2 class="mb-4" style="font-size: 20px">Welcome back</h2>
        </div>

        <div class="pb-3 text-center">
            <a asp-action="Register" class="btn btn-primary btn-block create-btn">
                <i class="fa-solid fa-user-plus me-1"></i>
                Join
            </a>
        </div>
        <div class="or">
            <div class="or-line"></div>
            <div class="or-or">
                <span>OR</span>
            </div>
        </div>

        <form method="POST" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-1">
                <label class="form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="example@mail.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="••••••••"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary text-nowrap fw-bold w-100" style="border-radius: 2px; padding: 7px 0;  font-size: 18px">
                    Login
                </button>
            </div>
        </form>

        <div id="external-login-providers-container" class="d-flex flex-column gap-2 mt-4">
            <a asp-action="ExternalLogin" asp-route-provider="Google" class="btn btn-danger d-flex justify-content-center align-items-center fw-bold" style="font-size: 18px">
                <i class="fa-brands fa-google me-3"></i>
                Login via Google
            </a>
            <a asp-action="ExternalLogin" asp-route-provider="GitHub" class="btn btn-secondary d-flex justify-content-center align-items-center fw-bold" style="font-size: 18px">
                <i class="fa-brands fa-github me-3"></i>
                Login via GitHub
            </a>
        </div>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(function() {
        const inputs = $('input[type="text"], input[type="password"]'); 
        inputs.on('keyup', function () {
            inputs.removeClass('input-validation-error');
            $('.text-danger').hide();
        });
        });
    </script>
}